.card-header {
    text-align: center;
    color: #fff;
    font-weight: 900;
    background-color: #2A2A2A;
}

.btn-secondary {
    background-color: #FF0048;
    border-color: #FF0048;
}

    .btn-secondary:hover {
        background-color: #D4003D;
        border-color: #D4003D;
    }

    .btn-secondary:active {
        background-color: #A4002F !important;
        border-color: #A4002F !important;
    }
    .btn-secondary.disabled:hover,
    .btn-secondary:disabled:hover {
        color: #212529 !important;
        background-color: #95a5a6 !important;
        border-color: #95a5a6 !important;
    }
        .btn-secondary.disabled:hover:active,
        .btn-secondary:disabled:hover:active {
            color: #212529 !important;
            background-color: #95a5a6 !important;
            border-color: #95a5a6 !important;
        }

.card-header.card-subheader {
    background-color: #3e3e3e;
}
