.card-header {
    text-align: center;
    color: #fff;
    font-weight: 900;
    background-color: #2A2A2A;
}

.btn-secondary {
    background-color: #FF0048;
    border-color: #FF0048;
}

    .btn-secondary:hover {
        background-color: #D4003D;
        border-color: #D4003D;
    }

    .btn-secondary:active {
        background-color: #A4002F !important;
        border-color: #A4002F !important;
    }
    .btn-secondary.disabled:hover,
    .btn-secondary:disabled:hover {
        color: #212529 !important;
        background-color: #95a5a6 !important;
        border-color: #95a5a6 !important;
    }
        .btn-secondary.disabled:hover:active,
        .btn-secondary:disabled:hover:active {
            color: #212529 !important;
            background-color: #95a5a6 !important;
            border-color: #95a5a6 !important;
        }

.card-header.card-subheader {
    background-color: #3e3e3e;
}

body {
  background: #e9e9e9;
  width: 100vw;
  height: 100vh;
  font-family: 'Lato', sans-serif;
}

.log-head {
  border: none;
  background: initial;
  text-align: center;
  padding: 25px;
}
.log-links {
  background: initial;
  text-align: center;
}
.log-body > * {
  text-align: center;
}
.log-container {
  width: 500px;
  display: block;
  margin: 0 auto;
  top: 40%;
  transform: translateY(-50%);
}
.log-send {
  width: 100%;
  height: 60px;
  border: none;
  background-image: linear-gradient(120deg, #AA6DE4 0%, #4098ED 100%);
}
.log-send:active {
  background-image: linear-gradient(120deg, #C696F4 0%, #66B0F8 100%) !important;
  
}

.log-img{
	width: 25%;
	
}
